<h1>Character Generation</h1>
<cgen></cgen>

<script src="https://cdn.jsdelivr.net/npm/riot@3.7/riot+compiler.min.js"></script>
<script src="/scripts/cgen/cgen.tag.html" type="riot/tag"></script>
<script src="/scripts/cgen/demographics.tag.html" type="riot/tag"></script>
<script src="/scripts/cgen/priorities.tag.html" type="riot/tag"></script>
<script src="/scripts/cgen/specs.tag.html" type="riot/tag"></script>
<script src="/scripts/cgen/skills.tag.html" type="riot/tag"></script>
<script src="/scripts/cgen/quirks.tag.html" type="riot/tag"></script>

<script>
  alertify.set('notifier', 'position', 'top-right');
  cgen = {
    config: <%= @chargen %>,
    specs: <%= @specs %>,
    skills: <%= @skills %>,
    quirks: <%= @quirks %>,
    modes: <%= @modes %>
  };

  riot.mount('*');
</script>
